{% extends 'base.html.twig' %}

{% block title %}Panier!{% endblock %}

{% block body %}
<div class="row">
  <h1>Mon panier</h1>
  {% if lists| length >0 %}
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>#</th>
        <th>titre</th>
        <th>prix</th>
        <th>quantite</th>
        <th>total</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for list in lists %}
      <tr>
        <th scope="row">1</th>
        <td>{{list.article.title}}</td>
        <td>{{list.article.prix}} euros</td>
        <td>{{list.quantite}}</td>
        <td>{{list.article.prix * list.quantite}} euros</td>
        <td>
        <a href="{{ path('remove',{'id':list.article.id}) }}">
        <i fa fa-trash></i>sup
        </a>
        <a href="{{ path('panier_add',{'id':list.article.id}) }}">
        <i fa fa-trash></i>ajout
        </a>
        </td>
      </tr>
    </tbody>
    {% endfor %}
    <tfooter>
    <tr>
    <td colspan="3">total à payer</td>
    <td>{{total}} euros</td>
    </tr>
    </tfooter>
  </table>
  {% else %}
  <p>le panier est vide<p>
  {% endif %}
</div>
{% endblock %}


